abbr[title] {
    text-decoration: none;
  }
  * {
  margin: 0;
  padding: 0;
}
header {
  padding: 1rem;
  background-color:black;
 }

 header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
 }   
  header ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
  }
 header ul li a:hover{
    background-color: #575757;
    border-radius: 5px;
  }
  svg {
    fill: white;
    cursor: pointer;
    width: 50px;
    height: 39px;
  }
  svg:hover {
    fill: white;
  }
  footer {
    padding: 1rem;
    background-color:black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
