  abbr[title] {
    text-decoration: none;
  }
  *{
    margin: 0;
    padding: 0;
   /* border:3px solid green;*/
  }

body{
background: linear-gradient(
to right,
#000B18,#00172D);
}

 header {
 background-color:#1d2327;
 padding:0.4rem;
 display:block;
 width:100vw;
 }

 header ul{
  margin: 0;
  padding: 1px;
  
 }   
  header ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  header ul li a:hover{
    background-color: #575757;
    border-radius: 5px;
  }
  footer {
    padding: 4px;
    background-color: #1d2327;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100vw;
position:fixed;
  }

  svg#t17{
    color:black ;
    height: 20px;
    width: 20px;
  }
   p,ul,h2,h1,span
   {color:white;}
