  abbr[title] {
    text-decoration: none;
  }
  *{
    margin: 0;
    padding: 0;
   
  }

body{
background-color: white;
width:100vw;

}
div[class*="container"] {
width:100vw;
margin-top:80px;
}

 header {
  padding: 0.4rem;
  background-color: #1d2327;
width:100vw;
 }

 header ul{
  list-style-type: none;
  margin: 0;
  padding: 1px;
  display: flex;
  justify-content: space-around;
 }   
  header ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
  }
  header ul li a:hover{
    background-color: #575757;
    border-radius: 5px;
  }
  footer {
    padding: 4px;
    background-color: #1d2327;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }

  svg#t17{
    color:black ;
    height: 20px;
    width: 20px;
  }
   
.heading {
font-size:25px;
text-align: center;
margin-top:10px;
font-weight:bold;
}
.container3{
display: flex;
flex-flow:column wrap;
align-items:flex-end;
}

img {
display:flex;
justify-content: flex-end;
width:40vw;
}
.container2 {
display:flex;
justify-content:space-around;
align-items:flex-start;
flex-direction:row;

}
.card{
display: flex;
flex-flow: column wrap;
justify-content:center;
align-self: flex-start;


}

div ul li{
font-style: italic;
}

h2{
display: flex;
justify-content: center;
}

.container{
display:flex;
flex-flow:row nowrap;
}
.main-text{
width:60vw;
flex-flow:row wrap; 
}